:root {
  --main-bg: #ffffff;
  --secondary-bg: #f5f4fa;
  --accent: #2196f3;
  --main-text: #757575;
  --title-text: #212121;
}

/* *********  Global reset **************** */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

body {
  background-color: var(--main-bg);
  color: var(--main-text);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/********************** Header *****************************/
.header {
  border-bottom: 1px solid #ececec;
}

.header-nav,
.header-nav-main {
  display: flex;
  align-items: center;
}

.logo {
  color: #000000;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
}

.logo span {
  color: var(--accent);
}
.current {
  color: var(--accent);
}

.nav-list {
  display: flex;
  padding-left: 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 93px;
}
.header-nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link.current::after {
  position: absolute;
  content: "";
  display: block;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--accent);
}

.nav-list .item + .item {
  margin-left: 50px;
}

.nav-list a {
  text-decoration: inherit;
  color: var(--title-text);
}
.nav-list .current {
  color: var(--accent);
}

.nav-list a:hover,
.contact-list a:hover,
.nav-list a:focus,
.contact-list a:focus {
  color: var(--accent);
}
.contact-list {
  display: flex;
  margin-left: auto;
  padding-left: 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-list {
  gap: 30px;
}

.contact-link {
  display: inline-flex;
  padding: 32px 0px 32px;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact-list a {
  color: inherit;
  text-decoration: inherit;
}

.nav-list .item {
  display: block;
}

/************************* MAIN ***************************/

.section.hero {
  max-width: 1600px;
  min-height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero_img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero {
  text-align: center;
}
.hero h1 {
  width: 696px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
  color: #ffffff;
}
.hero-button {
  background-color: var(--accent);
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;
}

/************************** benefits ***************************/

.benefits h2 {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.benefits h3 {
  color: var(--title-text);

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;
}

.benefits-list {
  display: flex;
  padding-left: 0;
  line-height: 1.71;
}

/* .benefits-item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.benefits-list:nth-child(1)::before {
  background-image: url("../images/radar.svg");
} */
.benefits-icon-bg {
  display: flex;
  min-height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.benefits-item {
  width: 270px;
}

.benefits-list .benefits-item + .benefits-item {
  margin-left: 30px;
}

/******************************* activity *******************************/
.section.activity {
  padding-top: 0;
}
.activity h2 {
  color: var(--title-text);

  font-weight: 700;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.activity-list {
  display: flex;
}

.activity-list li {
  position: relative;
}

.activity-list p {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 70px;
  bottom: 3px;
  left: 0;

  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;

  background-color: rgba(47, 48, 58, 0.8);
}

.activity-list .item + .item {
  margin-left: 30px;
}

/********************************** team *********************************/
.team {
  background-color: var(--secondary-bg);
}
.team h2 {
  color: var(--title-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.team h3 {
  color: var(--title-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team-list {
  display: flex;
  padding-left: 0;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list .item + .item {
  margin-left: 30px;
}

.team-list .item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-description {
  padding: 30px 0px;
}

/***********************TEAM social icons************************* */

.team-icon-list {
  display: flex;
  padding: 0px 32px;
  margin-top: 16px;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

.team-icon-item {
  width: 44px;
  height: 44px;
}

.team-icon-link {
  width: 44px;
  height: 44px;
  display: block;
  border-radius: 50%;
  color: #afb1b8;
  background-color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus {
  color: #ffffff;
  background-color: var(--accent);
}

.team-icon {
  margin-top: 12px;
  fill: currentColor;
}

/* ************************** OUR CLIENTS************************/

.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-section h2 {
  margin-bottom: 50px;
  color: var(--title-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.clients-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-item:hover,
.clients-item:focus {
  color: var(--accent);
  border-color: var(--accent);
}

.clients-link {
  width: 170px;
  height: 92px;
  display: block;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent);
  border-color: var(--accent);
}

.clients-icon {
  fill: currentColor;
}

/*************************** footer *****************************/
footer {
  background-color: #2f303a;
}

.footer-info {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  color: #ffffff;
  text-decoration: inherit;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-footer span {
  color: var(--accent);
}

.footer-list {
  padding-left: 0;
  line-height: 1.71;
  margin-top: 20px;
}
.footer-list .item + .item {
  margin-top: 9px;
}

.footer-list a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: inherit;
  font-family: inherit;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list .address {
  color: #ffffff;
}
.footer-list a:hover,
.footer-list a:focus {
  color: var(--accent);
}

/* ******************************** FOOTER SOCIAL ICONS **************** */

.footer-flex {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-social-tumb {
  margin-top: 12px;
  margin-left: 70px;
  width: 206px;
}
.footer-social-tumb p {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--main-bg);
}

.footer-social-list {
  display: flex;
  padding: 0;
  margin-top: 0;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.footer-social-item {
  width: 44px;
  height: 44px;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  display: block;
  border-radius: 50%;
  color: #ffffff;
  background-color: #ffffff10;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  color: #ffffff;
  background-color: var(--accent);
}

.footer-social-icon {
  margin: 12px 0px 0px 12px;
  fill: currentColor;
}
/* ******************************** PORTFOLIO ************************** */
/*********************************** PAGE ****************************** */
.title-portfolio {
  display: none;
}

.button-list-portfolio {
  padding-left: 0;
  text-align: center;
  margin-bottom: 50px;
}
.button-list-portfolio .item + .item {
  margin-left: 8px;
}

.button-list-portfolio button {
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;

  background-color: #f5f4fa;
  color: var(--title-text);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-list-portfolio li {
  list-style-type: none;
  display: inline;
}

.button-list-portfolio button:hover,
.button-list-portfolio button:focus {
  color: #ffffff;
  background-color: var(--accent);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.works-portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: calc((100% - 2 * 15px) / 3);
}

.works-portfolio h1 {
  display: none;
}
.works-portfolio li {
  list-style-type: none;
  color: var(--main-text);
  font-size: 16px;
  line-height: 1.87;
}
.works-portfolio h2 {
  color: var(--title-text);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-item {
  border: 1px solid #eeeeee;
  width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item {
  margin-bottom: 30px;
  margin-right: 30px;
}
.tumb {
  position: relative;
  overflow: hidden;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.portfolio-item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0);
}

.card-description {
  padding: 20px 24px;
}

.portfolio-overlay {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;

  color: #ffffff;
}

/* ****************** MODAL WINDOW *************************/
.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: scale(2);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.close-btn {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  padding: 6px 6px;
  background-color: transparent;
  /* background-image: url(/images/close.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%; */
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* .icon-close {
  position: absolute;
  top: 0;
  left: 0;
} */
